include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/markdown_editor *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/markdown_editor/migration *.ini *.py *.mako
